.quadro {
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    background-color: black;
}
