<div ngDraggable class="drag-block quadro_a2" 
  (started)="onStart($event)" 
  (stopped)="onStop($event)" 
  (movingOffset)="onMoving($event)"
  [preventDefaultEvent]="true" 
  (endOffset)="onMoveEnd($event)">
  <div class="thumb">
      <mk-menu></mk-menu>
  </div>
</div>
  
<div ngDraggable class="drag-block quadro_a5" 
  (started)="onStart($event)" 
  (stopped)="onStop($event)" 
  (movingOffset)="onMoving($event)"
  [preventDefaultEvent]="true" 
  (endOffset)="onMoveEnd($event)">
  <div class="thumb">
      <mk-menu></mk-menu>
  </div>
</div>
  
<div ngDraggable class="drag-block quadro_12x12" 
  (started)="onStart($event)" 
  (stopped)="onStop($event)" 
  (movingOffset)="onMoving($event)"
  [preventDefaultEvent]="true" 
  (endOffset)="onMoveEnd($event)">
  <div class="thumb">
      <mk-menu></mk-menu>
  </div>
</div>
  