<div class="wrapper">
    <mk-sidebar [state]="menuState"></mk-sidebar>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a href="#" (click)="toggleMenu()">
                    <i class="fa fa-3x fa-plus-circle" aria-hidden="true"></i>
                </a>
                <div class="btn-toolbar mb-2 mb-md-0 float-right">
                    <a href="#">
                        <img class="avatar" src="/assets/img/eu.jpg">
                    </a>
                </div>
            </div>
        </nav>
    </div>

</div>   

<router-outlet></router-outlet>
