<nav id="sidebar" [style.display]="(state === 'show') ? 'block' : 'none'">
    <div class="logo">
        <img src="/assets/img/logo_navbar_parederia.svg">
    </div>
    <hr>
    <ul class="list-unstyled components" *ngIf="quadros.length > 0">
        <li class="nav-item" *ngFor="let quadro of quadros">
            <a class="nav-link" (click)="adicionarQuadro(quadro)">
                {{quadro.name}}
            </a>
        </li>
    </ul>
    <div class="cartbtn">
        <img src="/assets/img/checkout.svg">
        <h6>TOTAL DESSA PAREDE:</h6>
        <h5>R$ 0.00</h5>
    </div>
</nav>