.thumb {
  background: white;
  position: relative;
  top: 8px;
  left: 8px;
  -webkit-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
