@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin menuitens($pos, $w, $h, $bg, $limit: 4) {
    @for $i from 1 through $limit {
      &:nth-child(#{$i}) {
        @if $i == 1 {
            top: 30px;
            left: 30px;
        } @else if $i == 2 {
            top: -30px;
            left: -30px;
        } @else if $i == 4 {
            top: -30px;
            left: 30px;
        } @else {
            top: 30px;
            left: -30px;
        }
        display: block;
        position: absolute;
        width: $w;
        height: $h;
        background-color: $bg;
        text-align: center;
        border-radius: 50%;
      }
    }
}