// all
$body-bg: #F4F2F0;
$font-size-base: 0.875rem;

// sidebar
$sidebar-bg: #2F2F2F;
$sidebar-link-color: #BBBBBB;
$sidebar-link-size: 0.857rem;
$sidebar-link-weight: 300;
$sidebar-logo-pd: 20px;
$sidebar-logo-height: 40px;