// all
$body-bg: #F4F2F0;
$font-size-base: 0.875rem;
$w-100: 100%;
$h-100: 100%;

// sidebar
$sidebar-bg: #2F2F2F;
$sidebar-link-color: #BBBBBB;
$sidebar-link-size: 0.857rem;
$sidebar-link-weight: 300;
$sidebar-logo-pd: 20px;
$sidebar-font-family: "Montserrat";
$sidebar-logo-height: 40px;

// nav
$nav-item-hover-color: #ED6161;

// avatar
$avatar-width: 33px;
$avatar-mt: 8px;
$avatar-radius: 50%;

// icon
$icon-color: rgba(0,0,0,0.4);
$icon-color-hover: $sidebar-bg;

//tooltip
$tooltip-bg: $nav-item-hover-color;


//menu
$menu-hover-bg: rgba(222, 222, 222, 0.48);
$menu-hide-bg: rgba(222, 222, 222, 0);
$openmenu-radius: 50%;
$openmenu-w: 50px; // width
$openmenu-h: 50px; // height
$openmenu-t: calc(50% - (#{$openmenu-w} / 2)); // top
$openmenu-l: calc(50% - (#{$openmenu-h} / 2)); // left
$openmenu-zindex: 1;
$openmenu-opacity: 0; 
