@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: $sidebar-bg;

    & .logo {
        padding: $sidebar-logo-pd;
        img {
            height: $sidebar-logo-height;
        }
    }

    .nav-item {
        &:hover {
            background-color: $nav-item-hover-color;
            color: $white;
        }
    }
    .nav-link {
        font-weight: $sidebar-link-weight;
        font-size: $sidebar-link-size;
        font-family: $sidebar-font-family;
        color: $sidebar-link-color;
        text-transform: uppercase;
        &:hover {
            color: inherit;
        }
        &:active {
            color: inherit;
        }
    }
    
    & hr {
        margin-top: 0rem;
    }
}

/*
 * Avatar
 */
 .avatar {
    margin-top: $avatar-mt;
    position: relative;
    width: $avatar-width;
    border-radius: $avatar-radius;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #bfbfbf,0 2px 5px 4px rgba(0,0,0,0.2);
    -webkit-border-radius: $avatar-radius;
    -moz-border-radius: $avatar-radius;
    -webkit-box-shadow: 0 0 0 3px #fff,0 0 0 4px #999,0 2px 5px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 3px #fff,0 0 0 4px #999,0 2px 5px 4px rgba(0,0,0,0.2);
 }

 /*
  * Main
  */

  main {
      i {
          color: $icon-color;
          &:hover {
              color: $icon-color-hover;
          }
      }
  }