@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import './variables';
@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        background: $sidebar-bg;
        color: $sidebar-font-family;
        transition: all 0.3s;
        font-family: "Montserrat";

        & .logo {
            padding: $sidebar-logo-pd;
        }

        & ul.components {
            padding: 20px 0;
        }

        .nav-item {
            &:hover {
                background-color: $nav-item-hover-color;
                color: $white;
            }
        }
        .nav-link {
            font-weight: $sidebar-link-weight;
            font-size: $sidebar-link-size;
            font-family: $sidebar-font-family;
            color: $sidebar-link-color;
            text-transform: uppercase;
            
            &:hover {
                color: inherit;
            }
            &:active {
                color: inherit;
            }
        }

        & .cartbtn {
            height: 80px;
            padding: 10px;
            background-color: #ed6161;
            color: aliceblue;
            position: fixed;
            width: 250px;
            bottom: 0px;
            & h5 {
                font-weight: 600;
                display: inline;
            }
            & img {
                float: left;
                margin-top: -15px;
            }
        }
        
    }

    & hr {
        margin-bottom: 0rem;
    }
    
    #content {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .avatar {
            margin-top: $avatar-mt;
            position: relative;
            width: $avatar-width;
            border-radius: $avatar-radius;
            box-shadow: 0 0 0 2px #fff,0 0 0 4px #bfbfbf,0 2px 5px 4px rgba(0,0,0,0.2);
            -webkit-border-radius: $avatar-radius;
            -moz-border-radius: $avatar-radius;
            -webkit-box-shadow: 0 0 0 3px #fff,0 0 0 4px #999,0 2px 5px 4px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 0 0 3px #fff,0 0 0 4px #999,0 2px 5px 4px rgba(0,0,0,0.2);
         }
        
        i {
            color: $icon-color;
            &:hover {
                color: $icon-color-hover;
            }
        }

        .footer {
            padding: 20px;
        }

        .parede {
            min-height: 100%;
        }
    }
}

/*
Modal center screen
*/
.modal {
       margin:0 auto;
       display:table;
       position: absolute;
       left: 0;
       right:0;
       top: 50%; 
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);
}


.corparede {
    border: none;
    background: none;
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
}

.quadro_a2 {
    width: calc(440px * 0.6);
    height: calc(615px * 0.6);
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    background-color: black
}

.quadro_a2 .thumb {
    background: white;
    width: calc(440px * 0.6 - 16px);
    height: calc(615px * 0.6 - 16px);
    position: relative;
    top: 8px;
    left: 8px;
    -webkit-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset -1px 1px 3px 1px rgba(0, 0, 0, 0.2)
}
