@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: $sidebar-bg;

    & .logo {
        padding: $sidebar-logo-pd;
        img {
            height: $sidebar-logo-height;
        }
    }

    .nav-link {
        font-weight: 300;
        font-size: 12px;
        color: $sidebar-link-color;
        text-transform: uppercase;
        &:hover {
            color: inherit;
        }
        &:active {
            color: inherit;
        }
    }
}