<!-- menu que vai dentro do quadro -->
<div class="menu"
  (mouseover)="changeStyle($event)"
  (mouseleave)="changeStyle($event)"
  >
  <ul [ngClass]="defaultClass"
      (click)="openMenu($event)"
      *ngIf="items">
    <!-- TODO: alterar block para none ex:  <li [style.display]="isOpen ? 'block' : 'none'" -->
    <li [style.display]="isOpen ? 'block' : 'block'"
        *ngFor="let item of items">
      <a (click)="alterarOrientacao($event)">
        <img src="{{item.symbol}}">
      </a>
    </li>
  </ul>
</div>
<!-- fim do menu do quadro -->
